IngenieriaDeVideojuegos/Library
IngenieriaDeVideojuegos/obj
IngenieriaDeVideojuegos/Logs
IngenieriaDeVideojuegos/Temp
IngenieriaDeVideojuegos/UserSettings
IngenieriaDeVideojuegos/.vs
IngenieriaDeVideojuegos/.vsconfig
